
*{
    box-sizing: border-box;

}
html, body {
    margin: 0;
   }
.header-container{
    display: flex;
    justify-content: space-around;
    background-color: chartreuse;
    width: 100vw;
    margin: 0 auto;
    border: 0px;
}
.header-container .h1{
    align-items: center;
    display: inline;
}
.header-container .menus{
    display: none;
}
.header-container input{
    display: none;
}